/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");


.container {
    width: 68%;
    margin: -19 auto;
    color: rgba(129, 127, 128, 0.285);
}

nav {
    display: flow-root;
    justify-content: center;
    background-color: #4b4b4985;
  }


nav ul {
    margin: 10;
    padding: 5;
    list-style: none;
}

.btn-crud {
    display: inline-block;
    background-color: #828683;
    color: #e21515;
    padding: 10px;
}
.products {
    position: absolute;
    bottom: 720px;
    left: 600px;
    font-size: 20px;
}
.shop {
    position: absolute;
    bottom: 720px;
    left: 500px;
    font-size: 20px;
}
.navbar-brand1 {
    position: absolute;
    bottom: 720px;
    left: 400px;
    font-size: 20px;
} */
